/* ------------------ RESET --------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */

body {
	margin: 0px;
        /*background:#cccfff;
        background-color: #FDEFF5;*/
		background:#FFF;
		 font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo{
    /*margin: 5px;*/
}

.logo img {
    max-width:100%;
    height:auto;
}

.flag{
    padding: 15px 0;
    height: 115px; 
    text-align: right;
    
    
}

.slider{
    position: relative;
    /*width: 1140px;
    height: 400px;
    background: #cccccc;*/
	padding:10px;
	min-height:70px;
	line-height:50px;
	background: #F6F6F6;
    z-index: 90;
	border-radius: 20px;
    
    
}
.box{
    text-align: justify;
    border: 1px solid #366c88;
    padding: 20px;
    /*background: #F6F6F6;*/
	color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    
    
}

.box:hover{
	background: #F6F6F6;
}
.lipsum{
    
    border: 1px solid #cccccc;
    /*background: #fff;
    padding: 15px;
    text-align: justify;*/
    padding: 20px;
    background: #00cff8;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.content{
   /* background: #cccccc;*/
    height: auto;
    text-align: justify;
    
    
 
}

.footer{
    padding-top: 10px;
    height: 35px;
    line-height: 150%;
    font-size: 10px;
    /*border-top: 1px dotted #000066;*/
    text-align: center;
}


#banner {
    position: relative;
    width: 1160px;
    /*height: 265px;*/
    height: 365px;
    margin: 2% 0 2% 0;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
    border-radius: 10px;
    padding: 20px;
    background: #fff url(img/banner.jpg) no-repeat 20px 20px;
    background-size: 1160px 365px;
}

.form-contatti {
    /*width: 500px;
    margin: 50px auto;*/
    height: 300px;
    background: #00cff8;
    padding: 15px;
    overflow: hidden;
    color: white;
 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.address-contatti {
    /*width: 500px;
    margin: 50px auto;*/
    height: 300px;
    background: #00cff8;
    padding: 15px;
    overflow: hidden;
    color: white;
 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#banner h2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 100px;
    left: 0;
    font-size: 3.3em;
    color: #fff;
    text-align: center;
    letter-spacing: -2px;
}

#banner span {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 105px;
    left: 0;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    text-transform: lowercase;
    opacity: 0.8;
    
}

.iframe-googlemaps { width: 100%; height: 400px;  }

.box img {
    max-width:100%;
    height:auto;
}

.box p, h3 {padding: 10px;}

.textCenter{
	text-align:center;

}
.titleTasti{
	font-size:1.5em;
	color: #366c88;
	}
	
	
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto }	

.linkScheda{
        color: #175e4c;
        text-decoration: underline;
    }